<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/styles.css" type = "text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Wins');
        data.addColumn('number', 'Times');
        data.addRows([
          ['Player1', 3],
          ['Computer', 1],
        ]);

        // Set chart options
        var options = {'title':'Statistic',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
