@{
  Layout="Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h2>Rock, Paper, Scissors</h2>
</div>

<h2>Let's Play that Ol' Schoolyard Classic</h2>

    <form action="/result" method="post">
      <div class="form-group">
        <label for="player1">Player 1 Choose Your Weapon</label>
        <div class="form-group"><input type ="radio" name="player1" id="player1" value="Rock">Rock</div>
        <div class="form-group"><input type ="radio" name="player1" id="player1" value="Paper">Paper</div>
        <div class="form-group"><input type ="radio" name="player1" id="player1" value="Scissors">Scissors</div>
      </div>

      <div class="form-group">
        <label for="player2">Player 2 Choose Your Weapon</label>
        <div class="form-group"><input type ="radio" name="player2" id="player2" value="Rock">Rock</div>
        <div class="form-group"><input type ="radio" name="player2" id="player2" value="Paper">Paper</div>
        <div class="form-group"><input type ="radio" name="player2" id="player2" value="Scissors">Scissors</div>
      </div>

        <button type="submit" name="button">Let's See!</button>
    </form>

<div class="result">
  <p> The result is : @Model </p>
</div>
